@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030b17;
}
.loader_area{
    display: flex;
    justify-content: center;
}
.player1{
    height: 100px;
}
.main_home{
    margin-top: 70px;
    min-height: 180vh;
    display: flex;
    flex-direction: column;
    background-color: #030b17;
    overflow: hidden;
}
.movie_poster{
    height: 90vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    display: flex;
    justify-content: flex-end;
}
.slide-content{
    position: absolute;
    width: 50%;
    height: 90vh;
    z-index: 1;
    background: rgb(3,11,23);
    background: linear-gradient(90deg, rgb(3, 11, 23) 50%, rgb(3, 11, 27) 67%, rgba(3, 12, 31, 0.8) 87%, rgba(29, 29, 29, 0) 100%);;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    left:0;
    gap: 20px;
    overflow-x: hidden;
    
}
.slide-content h1{
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-weight: bold;
    color: #CADCFC;
    font-size: 42px;
}
.title_img{
    height: 150px;
    width: 300px;
}
.title_img img{
    height:100%;
    width: 100%;
    object-fit: contain;
    mix-blend-mode:difference;
}
.slide-content p{
    text-align: center;
    width: 80%;
    /* text-align: justify; */
    line-height: 25px;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: rgb(183, 182, 182);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;    
}
.slide-content a{
    width: 200px;
    margin-top: 20px;
    height: 50px;
    background-color: #CADCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #030b17;
    border-radius: 5px;
    gap: 5px;
    margin-bottom: 30px;
    transition: background-color 1s, color 1s;
    font-weight: bold;
}
.slide-content a:hover{
    background-color: red;
    color: #CADCFC;
}
.slide-content a::after{
    transform: translateY(5px);
}
.img_cont{
    width: 70%;
    height: 100%;
    overflow: hidden;
}
.img_cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 
.new_release{
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.card_container{
    margin-top: 30px;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    
}
.card_area{
    height: 470px;
    width: 280px;
    background-color:#CADCFC;
    color: #030b17;
}
.img_area{
    height: 82%;
    width: 100%;
}
.img_area img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.text_area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text_area h3{
    font-weight: bold;
}
.bookbtn{
    margin-top: 5px;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: #030b17;
    color: #CADCFC;
    font-size: 15px;
    cursor: pointer;
}
.upcoming{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.upcoming_container{
    margin-top: 30px;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
.upcoming_container .img_area{
    height: 90%;
}
.upcoming_container .bookbtn{
    display: none;
}