.main_conatiner{
    height: 100vh;
    background-color:#030b17;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-ticket{
    height: 400px;
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .step-1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  select {
    width: calc(100% - 110px);
    padding: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .checkmark {
    display: inline-block;
    color: green;
    font-size: 2rem;
    margin-right: 10px;
  }
  
  .confirmation {
    text-align: center;
  }

  .not_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upper_message {
    position: fixed;
    top: 20px;
    right: -300px; /* Start off the screen to the right */
    width: 250px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    transform: translateX(300px); /* Adjust to match the width */
  }
  
  .upper_message.show {
    transform: translateX(0); /* Slide into view */
  }
  
  .upper_message.hide {
    transform: translateX(300px); /* Slide out of view */
  }
  
  .close_message {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #721c24;
    cursor: pointer;
    float: right;
  }
  
 
  .not_image{
    height: 400px;
    width: 400px;
    
  }
  .not_image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: inherit;
    background-blend-mode:color-burn;
  }
  .not_login button{
    width: 100px;
    background-color: #CADCFC;
    color: #030b17;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }